/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Microsoft JhengHei;

}

.wrap {
    width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
}

.header {
    height: 80px;
}

.communitymenu {
    background: #f6f6f6;
    height: 30px;
    margin-top: 50px;
}

.communitymenu ul {
    float: right;
    margin-right: 20px;
}

.communitymenu ul li {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
    font-size: 14px;
}

.communitymenu ul li a img {
    vertical-align: top;
    margin-right: 3px;
}

.fb {
    color: #4460a0;
    text-decoration: none;
    border-right: solid gray 1px;
    padding-right: 7px;
}

.twitter {
    color: #00aaec;
    text-decoration: none;
}

.title {
    margin-top: 3px;
    height: 40px;
}

.title h1 {
    float: left;
    height: 100%;
}

.logo {
    background-image: url(../img/logo.png);
    width: 170px;
    height: 36px;
    margin-left: 30px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.topmenu {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    height: 100%;
}

.topmenu li {
    float: left;
}

.topmenu a {
    float: left;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    color: #00cc99;
}

.topmenu a:hover {
    border-bottom: 3px solid #00cc99;
    padding-bottom: 18px;
}

.content {
    height: 430px;
}

.content li {
    float: left;
    height: 330px;
    width: 30%;
    margin: 6% 1% 0% 2%;
    border-radius: 2%;
    box-shadow: 0 1px 3px grey;
    text-align: center;
}

.content li img {
    max-width: 100%;
    height: 130px;
    padding-top: 5%;
}

.content li h2 {
    padding-top: 2%;
    font-weight: bold;
    font-size: 20px;
}

.content li p {
    padding: 3% 5% 0% 5%;
    text-align: left;
    line-height: 1.5;

}

.jQuery ul {
    list-style-type: disc;
}

.jQuery li {
    float: none;
    box-shadow: none;
    width: 100%;
    height: 10px;
    margin: 0 0 0 0;
    padding: 3% 5% 0% 5%;
    text-align: left;
    font-size: 14px;
}

.table h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.ProductComparisonTable {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    font-size: 14px;
}

.ProductComparisonTable th, .ProductComparisonTable td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.ProductComparisonTable th {
    font-weight: bold;
    padding: 15px;
    background: #f7f7f7;
    text-align: left;
}

.ProductComparisonTable td {
    padding: 15px;
}

.ProductComparisonTable span {
    color: #00a67d;
}

.form {
    margin-top: 50px;
    background-image: url(../img/form.jpg);
    height: 405px;
    width: 1000px;

}

.form h2 {
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.5em;
    color: white;
}

.form textarea {
    float: left;
    margin: 00px 30px 0 20px;
    height: 250px;
    width: 450px;
    border-radius: 3px;
}

.form label {
    color: white;
}

.form input[type="text"] {
    margin: 2px 10px 20px 0;
    width: 45%;
    height: 8%;
    border-radius: 3px;
    border: none;
}

.form input[type="submit"] {
    float: right;
    margin-right: 40px;
    cursor: pointer;
    width: 8%;
    height: 9%;
    background: #00cc99;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 3px;
}

.clearfix {
    clear: both;
}

.footer {
    height: 60px;
    margin: 30px;
}

.footer ul {
    float: right;
}

.footer li {
    margin-top: 5px;
    display: block;
}

.footer span {
    color: #e12d80;
}